*{
    font-family: 'Lobster', cursive;
    color: white;
}
body{
    background-color: black;
}
#logo{
    display: inline-block;
    width: 70px;
}
a{
    text-decoration: none;
    text-align: end;
    margin-left: 5px;
    vertical-align: middle;
}
.nav{
    display: inline-block;
    float: right;
}
input{
    background-color: black;
    padding: 5px;
    margin-left: 70px;
    border: 1px solid white;
}
img{
    float: inline-end;
}
